$Montserrat: 'Montserrat',
sans-serif;

// Colors 
$HeavyBlue: rgba(12, 91, 124, 0.8);
$Blue: rgba(32, 11, 161, 0.8);
$Pink:rgba(203, 104, 219, 0.8);
$BrightGreen: rgba(124, 249, 25, 1.0);
$LightGreen:rgba(109, 186, 168, 1.0);
$DarkGreen:rgba(12, 116, 92, 1.0);
$Grey: rgba(196, 218, 227, 0.8);
$LightBlue: rgba(35, 212, 223, 1.0);
$Green: rgba(117, 223, 147, 1.0);