.circle-chart {
    &:hover .circle-chart__popup {
        opacity: 1;
    }

    &__popup {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        box-shadow: 0px 1px 8px rgba(83, 85, 155, 0.176);
        border-radius: 4px;
        opacity: 0;
        transition: all .3s ease-in;
    }

    &__popup-txt {
        font-size: 16px;
        color: #000000;
        padding: 5px 10px;
    }

    &__popup-txt_type_subchart {
        font-size: 12px;
    }
}

.circle-chart-wrap {
    text-align: center;
}

.circle-chart-wrap .circle-chart {
    // margin: 50px 15px;
    display: inline-block;
    vertical-align: top;
}

.circle-chart,
.circle-chart * {
    box-sizing: border-box;
}

.circle-chart {
    width: 160px;
    height: 160px;
    position: relative;
    opacity: 0;
}

.circle-chart_type_subchart {
    width: 60px;
    height: 60px;
}

.circle-chart .chart-box {
    width: 100%;
    height: 100%;
    padding: 7px;
}

.circle-chart_type_subchart .chart-box_type_subchart {
    padding: 3px;
}

.circle-chart .chart-circle-base {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 14px solid #ddd;
    border-radius: 50%;
}

.circle-chart_type_subchart .chart-circle-base_type_subchart {
    border: 7px solid #ddd;
}

.circle-chart .chart-box svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    transform: rotateY(180deg) rotate(-90deg);
}

.chart-circle-progress {
    fill: transparent;
    stroke-width: 14;
    stroke: #7661cf;
}

.chart-circle-progress_theme_blue {
    stroke: #23D4DF;
}

.chart-circle-progress_type_subchart {
    stroke-width: 7;
}

.circle-chart .per-num {
    width: 100%;
    margin: -17px 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #7661cf;
    position: absolute;
    left: 0;
    top: 50%;
}

.circle-chart .per-num_theme_dark {
    color: #000000;
}

.circle-chart_type_subchart .per-num_type_subchart {
    font-size: 15px;
    top: 60%;
}

.circle-chart .per-num span {
    font-size: 25px;
    vertical-align: -1px;
}

.circle-chart_type_subchart .per-num_type_subchart span {
    font-size: 15px;
    vertical-align: -1px;
}

.active.circle-chart {
    opacity: 1
}

.active .chart-circle-progress {
    -ms-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.circle-chart.theme02 .per-num {
    color: #fd567d;
}

.circle-chart.theme02 .chart-circle-progress {
    stroke: #fd567d;
}

.circle-chart.theme03 .per-num {
    color: #ff8e1e;
}

.circle-chart.theme03 .chart-circle-progress {
    stroke: #ff8e1e;
}

.circle-chart.theme04 .per-num {
    color: #20b78c;
}

.circle-chart.theme04 .chart-circle-progress {
    stroke: #20b78c;
}

.circle-chart.theme05 .per-num {
    color: #3eaaf9;
}

.circle-chart.theme05 .chart-circle-progress {
    stroke: #3eaaf9;
}