.types-charts {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
        flex-wrap: nowrap;
    }

    &__wgt {
        width: 100%;
        padding: 40px 20px 40px 20px;

        @media (min-width: 992px) {
            width: 50%;
            margin-right: 15px;
        }

        &:last-child {

            @media (min-width: 992px) {
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }

    &__wgt-wrapper {}

    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (min-width: 992px) {
            max-height: 300px;
            height: 100%;
        }
    }

    &__content-item {
        width: 100%;
        margin-bottom: 35px;

        @media (min-width: 768px) {
            width: 50%;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}