.audits-tables {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
        flex-wrap: nowrap;
    }

    &__wgt {
        width: 100%;

        @media (min-width: 992px) {
            margin-right: 15px;
        }

        &:last-child {
            @media (min-width: 992px) {
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }

    &__block {
        padding: 20px;
        height: 100%;

        @media (min-width: 992px) {
            padding: 40px;
        }

        &:last-child {
            @media (min-width: 992px) {
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }
}