.general-content {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
        flex-wrap: nowrap;
    }

    &__wgt {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 25px 20px;

        &:last-child {
            @media (min-width: 992px) {
                margin-left: 10px;
                margin-right: 0;
            }
        }

        @media (min-width: 992px) {
            width: 50%;
            margin-right: 10px;
        }
    }
}

.general-chart {
    width: 100%;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
        width: 40%;
        padding-bottom: 0;
    }
}

.description-chart {
    width: 100%;

    @media (min-width: 1200px) {
        width: 60%;
    }

    &__item {
        padding-bottom: 25px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 14px;
        color: #23D4DF;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 16px;
        color: #7C828A;
    }
}