.classification-body {
    padding: 20px;

    @media (min-width: 992px) {
        padding: 25px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        width: 100%;

        @media (min-width: 992px) {
            width: 25%;
        }
    }

    &__chart {
        margin-bottom: 35px;

        @media (min-width: 992px) {
            padding-bottom: 0;
        }
    }
}