.amount-body {
    &__line {
        border-bottom: 2px solid #CED5E1;
    }

    &__title {
        font-size: 18px;
        letter-spacing: 0.08em;
        color: #363636;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    &__txt {
        font-size: 16px;
        letter-spacing: 0.08em;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    &__txt_theme_grey {
        color: #343A49;
    }

    &__txt_theme_dark {
        font-size: 18px;
        color: #363636;
    }
}

.amount-body-mob {
    &__wgt {
        padding: 30px 0 5px 0;
    }

    &__wgt_theme_light {
        background: #FFFFFF;
    }

    &__wgt_theme_grey {
        background: #F7F7FA;
    }

    &__item {
        padding-bottom: 25px;
    }

    &__title {
        font-size: 18px;
        letter-spacing: 0.08em;
        color: #363636;
        padding-bottom: 15px;
    }

    &__txt {
        font-size: 16px;
        letter-spacing: 0.08em;
        color: #343A49;
    }
}