.audits-charts {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
        flex-wrap: nowrap;
    }

    &__wgt {
        width: 100%;

        @media (min-width: 992px) {
            width: 50%;
            padding-right: 15px;
        }

        &:last-child {

            @media (min-width: 992px) {
                padding-right: 0;
                padding-left: 15px;
            }
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 20px 40px 20px;



        @media (min-width: 992px) {
            max-height: 545px !important;
            height: 100%;
        }

        @media (min-width: 1200px) {
            max-height: 460px !important;
        }
    }

    &__content-item {
        width: 100%;
        margin-bottom: 35px;

        @media (min-width: 768px) {
            width: 50%;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}