.recommendation-quantity {
    padding: 20px;

    @media (min-width: 992px) {
        padding: 25px;
    }
}

.quantity-head {
    display: flex;
    padding-bottom: 30px;

    &__title {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
        color: #23D4DF;
        padding-right: 15px;
    }

    &__num {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.08em;
        color: #363636;
    }
}

.quantity-body {
    &__row {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 992px) {
            flex-wrap: nowrap;
        }
    }

    &__col {
        width: 100%;

        @media (min-width: 992px) {
            width: 33.33%;
            padding-right: 15px;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}